body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

:root {
  --header-height: 5vh;
}

.head {
  height: var(--header-height);
  font-size: small;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #5d3a1a;
}

.collapse-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  background-color: #f8f9fa;
  overflow-y: auto;
  transform: translateX(-100%);
  z-index: 1050;
}

.collapse.show {
  transform: translateX(0);
  color: #333;
}

.service-list li {
  background-color: #e9ecef;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  border: 1px solid #ddd;
}

.service-list li:hover {
  background-color: #ced4da;
  transform: scale(1.02);
}

.service-list li:before {
  content: "\2022";
  font-size: 20px;
  color: #5d3a1a;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.ham {
  cursor: pointer;
}

.hero {
  background-image: url("./assets/GIF.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: calc(100vh - 2.5 * var(--header-height));
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  z-index: 1;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeInUp 1s ease-in-out;
}

.hero p {
  color: white;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeInUp 1s ease-in-out;
}

.about-us,
.footer {
  padding: 40px 0 20px 0;
}

.image-gallery {
  padding: 50px 0;
  background: linear-gradient(145deg, #8b5e3c, #6a4b2f);
  color: #ddd;
}

.work-item {
  height: 100%;
  padding: 15px;
  background-color: #343a40;
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.work-item .image-container {
  position: relative;
}

.work-item .image-container img {
  width: 100%;
  display: block;
  transition: opacity 0.3s ease;
}

.work-item .image-container .first-image {
  max-height: 30vh;
  object-fit: cover;
  opacity: 1;
}

.work-item .image-container .second-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.work-item:hover .image-container .first-image {
  opacity: 0;
}

.work-item:hover .image-container .second-image {
  opacity: 1;
}

.work-item h2,
.work-item p {
  color: #fff;
  margin-top: 10px;
  z-index: 1;
  position: relative;
  transition: opacity 0.3s ease;
}

.gallery {
  color: white;
  padding: 50px 0;
  background: linear-gradient(145deg, #8b5e3c, #6a4b2f);
}

.gallery img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  animation: fadeInUp 1s ease-in-out;
}

.gallery-buttons {
  margin-bottom: 20px;
}

.gallery-buttons button {
  margin: 5px;
  border: none;
  padding: 0;
}

.gallery-images {
  display: none;
}

.gallery-images h3 {
  font-size: 1.5rem;
}

.gallery-images.active {
  display: block;
}

.gallery-btn {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.gallery-btn h2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeInUp 1s ease-in-out;
}

.call-to-action h2,
.call-to-action p {
  margin: 0;
  padding: 0;
}

.call-to-action .btn {
  margin-top: 20px;
}

.btn-custom-outline {
  background: transparent;
  border: 2px solid;
  color: #8b5e3c;
  border-image: linear-gradient(145deg, #8b5e3c, #6a4b2f) 1;
}

.btn-custom-outline:hover {
  background: linear-gradient(145deg, #8b5e3c, #6a4b2f);
  color: white;
}

.map-section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #5d3a1a;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer .logo img {
  width: 150px;
  margin-bottom: 20px;
}

.footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.footer a {
  color: #ffd700;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  color: #ffa500;
}

.footer .average-cost {
  font-weight: bold;
  margin-top: 20px;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}

.footer .copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}

hr {
  color: #fff;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.about-us h2,
.gallery h2,
.call-to-action h2 {
  margin-bottom: 20px;
}

.about-us p,
.call-to-action p {
  margin-bottom: 10px;
}

button.btn-cta {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button.btn-cta:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .hero {
    height: 40vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .image-gallery h2 {
    font-size: 1.5rem;
  }

  .about-us,
  .gallery,
  .footer {
    padding: 20px 0;
  }

  .work-item {
    margin: 0 10px;
  }

  .gallery-btn h2 {
    font-size: 1rem;
  }
}

.social-icons {
  font-size: 24px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* marquee */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-content img {
  margin-right: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}





/* Basic styles for the navbar */
.navbar-h2so4 {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-container-h2so4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100vw; */
}

.brand-h2so4 {
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
}

.menu-toggle-h2so4 {
  display: block;  /* Make the hamburger icon always visible */
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle-h2so4 .hamburger-h2so4 {
  font-size: 1.5em;
  color: #fff;
}

.navbar-links-h2so4 {
  display: none;  /* Hide links by default as they'll be in the sidebar */
}

.nav-link-h2so4 {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

/* Sidebar styles for all screen sizes */
.sidebar-h2so4 {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar-h2so4 a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.2em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar-h2so4 a:hover {
  color: #f1f1f1;
}

.sidebar-h2so4 .closebtn-h2so4 {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2em;
}

.sidebar-h2so4.open {
  width: 250px;
}

/* Overlay for the sidebar */
.overlay-h2so4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 999;
  display: none;
}

.overlay-h2so4.show {
  opacity: 1;
  display: block;
}

/* Show navbar links inline on larger screens for non-sidebar behavior */
@media (min-width: 769px) {
  .navbar-links-h2so4 {
    display: flex;
    gap: 20px;
  }
}