body {
  font-family: "Roboto";
  line-height: 1.6;
}

.head {
  font-size: small;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.hero {
  background-image: url("./assets/GIF.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 10px;
  height: 85vh;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  z-index: 1;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeInUp 1s ease-in-out;
}

.about-us,
.gallery,
.call-to-action,
.footer,
.image-gallery {
  padding: 40px 0 20px 0;
}

.img-fluid {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  animation: fadeInUp 1s ease-in-out;
}

.gallery-buttons {
  margin-bottom: 20px;
}

.gallery-buttons button {
  margin: 5px;
  border: none;
  padding: 0;
}

.gallery-images {
  display: none;
}

.gallery-images.active {
  display: block;
}

.gallery-btn {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.7;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.gallery-btn h1 {
  color: black;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeInUp 1s ease-in-out;
}

.call-to-action {
  background-color: #f8f9fa;
}

.map-section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  /* background-color: ; */
  /* color: #; */
  padding: 40px 0;
  text-align: center;
}

.footer .logo img {
  width: 150px;
  margin-bottom: 20px;
}

.footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.footer .footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer .footer-links a:hover {
  color: #fff;
}

.footer .average-cost {
  font-weight: bold;
  margin-top: 20px;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}

.footer a {
  color: #ccc;
}

.footer a:hover {
  color: #fff;
}

.footer .copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}

hr {
  color: #fff;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.about-us h2,
.gallery h2,
.call-to-action h2 {
  margin-bottom: 20px;
}

.about-us p,
.footer p,
.call-to-action p {
  margin-bottom: 10px;
  color: #333;
}

button.btn-cta {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button.btn-cta:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .hero {
    height: 40vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .about-us,
  .gallery,
  .call-to-action,
  .footer,
  .image-gallery {
    padding: 20px 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* marquee */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.marquee-content img {
  margin-right: 20px; /* Adjust spacing between images */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
